.footer {
    background-color: rgb(153, 206, 253); /* Dark footer */
    color: black;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

.f-info-socials i {
    font-size: 20px;
    margin: 0 8px;
    color: black;
    transition: color 0.3s;
    cursor: pointer;
}

.f-info-socials i:hover {
    color: #0d6efd; /* Bootstrap primary blue on hover */
}