.home{
    margin-top: 3.5rem;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: aliceblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}